<% @divisions.each do |division| %>
  <h1><%= division.skill.name %></h1>
  <h3><%= division.league.league %> <%= division.league.rank %></h3>

  <table class='table'>
    <tr>
      <th>Place</th>
      <th>Nick</th>
      <th>Points</th>
      <th>Difference</th>
    </tr>
    <% division.members.includes(:user).order('members.points DESC').each_with_index do |member, index| %>
      <% if current_user == member.user %>
        <tr id="<%= member.id %>" style="color: blue; background-color: #efefef;">
      <% else %>
        <tr id="<%= member.id %>">
      <% end %>
      <td><%= index + 1 %></td>
      <td><%= member.user.nick %></td>
      <td><%= member.points %></td>
      <td><%= difference(rand(10) - 5) %> </td>
      </tr>
    <% end %>
  </table>
<% end %>
